{% extends "base.html.twig" %}



{% block title %}Fiche Livre{% endblock %}

{% block h1 %}Fiche du livre n°{{lieu.id }}{% endblock %}

{% block body %}

{% block bloc %}{% endblock %}

<link rel="stylesheet" type="text/css" href="/stylefiche.css">
    

<section id="entete">
    <h1 id="titre">{{ lieu.type }}<h1>
    <h2 id="titre2">{{ lieu.nomLieu }}</h2>
    <p id="bullet">Vue exceptionnelle<br>Grande terrasse ouverte<br>Jusqu'à 6h​</p>
    <img src="{{ "/img/" ~ lieu.image }}" alt="la péniche" id="image1"> {# <li class="list-group-item">
            <strong>Couverture : </strong>
            <img src="{{ asset("img/" ~ lieu.couverture) }}" alt="pas de couverture">
        </li> #}
</section>


<section id="donnee">

    <ul>
      <li>Contact
        <ul>
          <li>Baptiste</li>
          <li>06 84 84 18 90</li>
          <li>Rémi</li>
          <li>06 50 80 22 25</li>
        </ul>
      </li>
    </ul>

    <ul>
      <li>Information
        <ul>
          <li>À partir de {{ lieu.prix }} €</li>
          <li>{{ lieu.surface }} m²</li>
          <li>{{ lieu.adresse }}</li>
          <li>Jusqu’à 6h</li>
        </ul>
      </li>
    </ul>

    <ul>
      <li>Capacités
        <ul>
          <li>{{ lieu.capacite }} personnes en cocktail</li>
          <li>{{ lieu.capacite - 40 }} personnes en dîner</li>
          <li>{{ lieu.capacite - 40 }} personnes en conférence</li>
          <li>{{ lieu.capacite }} personnes en soirée</li>
        </ul>
      </li>
    </ul>


</section>

<section id="texte" >
			<div>
				<h2>01.</h2>
                <h3>Louez une salle unique</h3>
				<p>La Péniche est située dans le centre historique de Paris, à deux pas du quartier St-Germain et privatisable 7 jours/7. La Péniche est toute équipée et vous offre de multiples possibilités pour vos événements, en journée ou en soirée. Nous vous accompagnons tout au long de votre location avec toute la souplesse et la polyvalence nécessaires afin de nous adapter à vos impératifs. Notre volonté est de créer une véritable connexion entre vos envies et notre expertise.</p>
            </div>
            <div>
				<h2>02.</h2>
                <h3>Animez vos événements</h3>
				<p>Au-delà de la location de la Péniche, nous proposons également des prestations complémentaires comme un service traiteur pour des réceptions sur mesure et originales. De plus nous disposons d’un large réseau professionnel (Hôtesses, barmen, photographes…) mais aussi de DJ éclectiques qui ne manqueront pas de charmer vos oreilles, enfin notre photobooth design vous apportera de jolis souvenirs.</p>
			</div>
		</section>

<section id="icones">
    <div>
    <h2>03.<h2>
    <h3>Lieu idéal pour<h3>
    </div>

    <div>
    <figure>
      <img src="/cocktail-128.png" alt="" />
      <figcaption>Cocktail</figcaption>
    </figure>

    <figure>
      <img src="/mariage-128.png" alt="" />
      <figcaption>Mariage</figcaption>
    </figure>

    <figure>
      <img src="/soiree-128.png" alt="" />
      <figcaption>Soirée</figcaption>
    </figure>                    
                                                   
    <figure>
      <img src="/diner-128.png" alt="" />
      <figcaption>Dîner</figcaption>
    </figure>                                                     
                        
    <figure>
      <img src="/tournage-128.png" alt="" />
      <figcaption>Tournage</figcaption>
    </figure>                         
                      
    <figure>
      <img src="/meeting-128.png" alt="" />
      <figcaption>Meeting</figcaption>
    </figure> 
    </div>                       
                       

</section>

<!-- photos -->

<section class="photofiche">

{% for photo in lieu.photoss %}
  <div>
    <img src="{{ "/img/" ~ photo.lesphotos }}" alt="photo">
  </div>
{% endfor %}

  

</section>



{% endblock %}