{% extends 'base.html.twig' %}

{% block title %}Liste Selections{% endblock %}

{% block body %}

<h1>Liste des Selections</h1>

   <table class="table table-bordered table-striped">
        <thead>
            <th>Abonné</th>
            <th>Lieu</th>
            <th>Date début</th>
            <th>Date fin</th>
        </thead>
        <tbody>
            {% for selection in selections %}
                <tr>
                    <td>{{ selection.abonne.pseudo }}</td>
                    <td>{{ selection.lieu.nomLieu ~ " - " ~ selection.lieu.prix ~ " € "}}</td>
                    <td>{{ selection.dateDebut|date("d/m/Y") }}</td>
                    <td>{{ selection.dateFin|date("d/m/Y") }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path("selection_ajouter") }}">Ajouter une sélection</a>

{% endblock %}
