{% extends 'base.html.twig' %}

{% block title %}Hello UtilisateurController!{% endblock %}

{% block body %}

<p class="h1 p-3 ml-4">Formulaire de devis</p>

<form method="POST" class="form-group ml-5 col-4 bg-info">

<p class="h3 pt-3">Veuillez choisir les dates :</p>
<div class="form-group">
        <label for="date_debut">date debut</label>
        <input type="date" name="date_debut" id="date_debut" class="form-control">
    </div>

    <div class="form-group">
        <label for="date_fin">date fin</label>
        <input type="date" name="date_fin" id="date_fin" class="form-control">
    </div>
    
    <p class="h4 font-italic">Le lieu choisi :</p>
    <div class="form-group">
        <input type="hidden" name="id" id="id" class="form-control" value="{{ lieu is defined ? lieu.id : "" }}">
    </div>
    <div class="form-group">
        <label for="nom_lieu">Nom du lieu</label>
        <input disabled type="text" name="nom_lieu" id="nom_lieu" class="form-control" value="{{ lieu is defined ? lieu.nomLieu : "" }}" >
    </div>
    <div class="form-group">
        <label for="adresse">Adresse</label>
        <input disabled type="text" name="adresse" id="adresse" class="form-control" value="{{ lieu is defined ? lieu.adresse : "" }}">
    </div>
    <div class="form-group">
        <label for="prix">Prix</label>
        <input disabled type="text" name="prix" id="prix" class="form-control" value="{{ lieu is defined ? lieu.prix : "" }}" placeholder="{{lieu.prix}}">
    </div>

    <p class="h5">Veuillez vérifier que les données sont correctes :</p>
    <div class="form-group">
        <input type="hidden" name="id" id="id" class="form-control" value="{{ lieu is defined ? abonne.id : "" }}">
    </div>
    <div class="form-group">
        <label for="nom">nom</label>
        <input type="text" name="nom" id="nom" class="form-control" value="{{ abonne is defined ? abonne.nom : "" }}">
    </div>
    <div class="form-group">
        <label for="prenom">prenom</label>
        <input type="text" name="prenom" id="prenom" class="form-control" value="{{ abonne is defined ? abonne.prenom : "" }}">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" class="form-control" value="{{ abonne is defined ? abonne.email : "" }}">
    </div>

    <button class="btn btn-primary mb-4">Enregistrer</button>

</form>

{% endblock %}
