{% extends 'base.html.twig' %}

{% block title %}Abonne index{% endblock %}

{% block body %}
    <h1>Abonne index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pseudo</th>
                <th>Roles</th>
                <th>Prenom</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for abonne in abonnes %}
            <tr>
                <td>{{ abonne.id }}</td>
                <td>{{ abonne.pseudo }}</td>
                <td>{{ abonne.roles ? abonne.roles|json_encode : '' }}</td>
                <td>{{ abonne.prenom }}</td>
                <td>{{ abonne.nom }}</td>
                <td>
                    <a href="{{ path('abonne_show', {'id': abonne.id}) }}">Voir</a>
                    <a href="{{ path('abonne_edit', {'id': abonne.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('abonne_new') }}">Ajouter un nouvel abonné</a>
{% endblock %}
