<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/style.css"> {% endblock %}

        
    </head>
    <body>
        <header {% block bloc %}class="bloc"{% endblock %}>
            <section class="image">
                <div class="bloc1">
                    <h1>L'Agence</h1>
                </div>
          

                <nav>
                    <ul>
                        <li>
                            <a href="{{ path("accueil") }}" class="lien">Accueil</a>
                        </li>

                        {% if is_granted("ROLE_ADMIN") %}
                        <li class="deroulant">
                            <a href="#" class="lien">Lieux</a>
                            <ul class="sous">
                                <li>
                                    <a href="{{ path("lieu") }}">Nos lieux</a>
                                </li>
                                <li>
                                    <a href="{{ path("lieu_ajouter") }}">Ajouter lieux</a>
                                </li>
                                <li>
                                    <a href="#">CSS float</a>
                                </li>
                            </ul>
                        </li>
                        
                        {% else %}
                        <li>
                            <a href="{{ path("lieu") }}">Nos lieux</a>
                        </li>
                        {% endif %}
                        <li class="deroulant">
                            <a href="{{ path("nos_services") }}" class="lien">Nos services</a>
                            <ul class="sous">
                                <li><a href="#">CSS display</a></li>
                                <li><a href="#">CSS position</a></li>
                                <li><a href="#">CSS float</a></li>
                            </ul>
                        </li>

                        
                        <li class="deroulant">
                            <a href="#" class="lien">Gestions</a>
                            <ul class="sous">
                                <li><a href="{{ path("abonne_index") }}">Abonné</a></li>
                                <li><a href="{{ path("selection") }}">Sélection</a></li>
                                <li><a href="">utilisateur</a></li>
                            </ul>
                        </li>
                       

                        {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                          <li>
                            <a href="{{ path("app_logout") }}" class="lien">Déconnexion</a>
                        </li>
                        {% else %}
                        <li>
                            <a href="{{ path("app_login") }}" class="lien">Connexion</a>
                        </li>
                         <li>
                            <a href="{{ path("app_register") }}" class="lien">Inscription</a>
                        </li>
                       {% endif %}
                        <li>
                            <a href="#" class="lien1">06 84 84 18 90</a>
                        </li>
                    </ul>
                </nav>
            </section>

        </header>

            <p class="message">{% for type, messages in app.flashes %}
				<div class="alert alert-{{ type }}">
					{% for msg in messages %}
						{{ msg|raw }}
					{% endfor %}
				</div>
			{% endfor %}</p>
        
        {% block body %}
      
            <section class="corps">
                <div class="recherche">
                    <p>Choisissez votre lieu de réception à Paris</p>
                    <FORM>
                        <SELECT name="nom" size="1">
                            <OPTION>Type de lieux
                            <OPTION>loft
                            <OPTION>péniche
                            <OPTION>terrasse
                            <OPTION>atypique
                        </SELECT>
                    
                        <SELECT name="nom" size="1">
                            <OPTION>Type d'événement
                            <OPTION>Anniversaire
                            <OPTION>Mariage
                            <OPTION>Conférence
                            <OPTION>Soirée d'entreprise
                        </SELECT>
                    
                        <SELECT name="nom" size="1">
                            <OPTION>Nombre de personne
                            <OPTION>- de 50 personnes
                            <OPTION>- de 100 personne
                            <OPTION>- de 150 personnes
                            <OPTION>+ de 200 personnes
                        </SELECT>
                        <input type="date" name="date" placeholder="choisir une date">
                        <button class="btn btn-primary">Recherche</button>
                    </FORM>

                    <p>Ou faîtes-vous accompagner</p>
                    <button class="btn btn-primary">Déposez votre brief</button>

                </div>
               
            </section>

            <main class="container">
                <section class="corps1">
                    <div class="">
                        <h1>01.</h1>
                        <h2>L'exclusivité</h2>
                        <p>Une offre réservée à nos clients, les lieux les plus demandées, et compétitifs</p>
                    </div>
                    <div class="">
                        <h1>02.</h1>
                        <h2>L'accompagnement</h2>
                        <p>Visite de plusieurs lieux, devis détaillés incluant toutes les idées que vous souhaiteriez.</p>
                    </div>
                    <div class="">
                        <h1>03.</h1>
                        <h2>L'approche Personalisé</h2>
                        <p>Des lieux récents, avec beaucoup de fonctionnalité, un nouvelle façon de se réunir.</p>
                    </div>
                </section>

                <section class="titre">
                    <h1>Découvrez nos lieux</h1>
                    <div class="flex">
                        <div class="bloclieu1"><a href="#" id="mot"><img src="le-loft-de-menilmontant-anniversaire.jpg" class="imagelieux">
                            <p id="mot">loft</p></a>
                        </div>
                        <div class="bloclieu2"><a href="#" id="mot"><img src="la-peniche-afterwork.jpg" class="imagelieux">
                            <p id="mot">peniche</p></a>
                            
                        </div>
                        <div class="bloclieu3"><a href="#" id="mot"><img src="le-generator-rooftop.jpg" class="imagelieux">
                            <p id="mot">terrasse</p></a>
                           
                        </div>
                        <div class="bloclieu4"><a href="#" id="mot"><img src="le-loft-du-11eme.jpg" class="imagelieux">
                            <p id="mot">atypique</p></a>
                            
                        </div>
                        <div class="bloclieu5">
                            <a href="#" class="noslieux">TOUS NOS LIEUX</a>
                        </div>
                    </div>
                </section>

                <section class="num flex">
                    <div >
                        <h1>100</h1>
                        <p>LIEUX D'EXCEPTIONS</p>
                    </div>
                    <div >
                        <h1>300</h1>
                        <p>IDÉES À LA MINUTE</p>
                    </div>
                    <div >
                        <h1>1000</h1>
                        <p>ÉVÉNEMENTS RÉALISÉS</p>
                    </div>
                    <div >
                        <h1>5000</h1>
                        <p>SOUVENIRS PARTAGÉS</p>
                    </div>
                </section>

                  <section class="titre">
                    <h1>Appréciez nos prestations</h1>
                    <div class="flex">
                        <div class="blocservice1"><img src="le-loft-de-menilmontant-anniversaire.jpg" class="imagelieux">
                            <p id="mot">loft</p>
                        </div>
                        <div class="blocservice2">
                            <h2>Photobooth</h2>
                            <p>I am text block. Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                            
                        </div>
                        <div class="blocservice3"><img src="le-generator-rooftop.jpg" class="imagelieux">
                            <p id="mot">terrasse</p>
                           
                        </div>
                        <div class="blocservice4">
                            <h2>DJ</h2>
                            <p>I am text block. Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            
                        </div>
                        <div class="blocservice5"><img src="le-loft-du-11eme.jpg" class="imagelieux">
                            <p id="mot">atypique</p>
                            
                            
                        </div>
                        <div class="blocservice6">
                            <h2>Jeux</h2>
                            <p>I am text block. Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                            
                        </div>
                        <div class="blocservice7">
                            <a href="#" class="nosservice">TOUS NOS SERVICES</a>
                        </div>
                    </div>
                </section>

                <section class="titre">
                    <h1>Savourer notre service traiteur</h1>
                    <div class="flextraiteur">
                        <div class="bloctraiteur1"><a href="#" id="mot"><img src="le-loft-de-menilmontant-anniversaire.jpg" class="imagelieux">
                            <p id="mot">loft</p></a>
                        </div>
                        <div class="bloctraiteur2"><a href="#" id="mot"><img src="la-peniche-afterwork.jpg" class="imagelieux">
                            <p id="mot">peniche</p></a>
                            
                        </div>
                        <div class="bloctraiteur3"><a href="#" id="mot"><img src="le-generator-rooftop.jpg" class="imagelieux">
                            <p id="mot">terrasse</p></a>
                        </div>

                            
                        </div>
                        <div class="bloctraiteur5">
                            <a href="#" class="noslieux">TOUTES NOS FORMULES TRAITEURS</a>
                        </div>
                    </div>
                </section>

                 <section class="titre">
                    <h1></h1>
                    <div class="flextraiteur">
                        <div class="bloctraiteur1"><a href="#" id="mot"><img src="le-loft-de-menilmontant-anniversaire.jpg" class="imagelieux">
                           
                        </div>
                        <div class="bloctraiteur2"><a href="#" id="mot"><img src="la-peniche-afterwork.jpg" class="imagelieux">
                            
                            
                        </div>
                        <div class="bloctraiteur3"><a href="#" id="mot"><img src="le-generator-rooftop.jpg" class="imagelieux"></a>
                        </div>
                 
                    </div>
                </section>

                 <section class="titre">
                    <h1>Ils nous font confiance</h1>
                    <div class="flextraiteur">
                        <div class="blocavis1">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.

                        <p>john Doe</p>
                           
                        </div>
                        <div class="blocavis2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.

                        <p>valérie Doe</p>
  
                        </div>
                 
                    </div>
        
            </main>
     
        {% endblock %}

        <footer>
            <section class="footer1">
                <div class="logofooter"><img src="/logoParisVert.png" class="logo">
                </div>
                <div class="faq">
                    <ul>
                        <li>
                            <a href="#">FAQ</a>
                        </li>
                        <li>
                            <a href="#">Qui sommes-nous ?</a>
                        </li>
                        <li>
                           <a href="#">Assurance</a>
                        </li>
                        <li>
                            <a href="#">Louer mon bien</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>
                            <a href="#">Événement Paris</a>
                        </li>
                        <li>
                            <a href="#">Déposer votre brief</a>
                        </li>
                        <li>
                            <a href="#">Nous contacter</a>
                        </li>
                        <li>
                            <a href="#">Organiser un événement</a>
                        </li>
                    </ul>
                </div>
                <div class="contact">
                    <a href="#"><img src="/twitter.png" class="reseau1"></a>
                    <a href="#"><img src="/instagram.png" class="reseau"></a>
                    <a href="#"><img src="/facebook-logo.png" class="reseau"></a>
                </div>
            </section>
            <section class="footer2">
                <div>
                    2021 L'AGENCE
                </div>
                <div>
                    <a href="#">Conditions générales de ventes</a>
                </div>
                <div>
                    <a href="#">Politique de confidentialité et mentions légales</a>
                </div>
            <section>
        </footer>
        {% block javascripts %}{% endblock %}
    </body>
</html>
